# Include the root CMake file
include CMakeLists.txt

# Recursively include all source directories
graft cmake
graft utils
graft portio
graft errors
graft dio
graft poe

# Exclude junk
prune .github
global-exclude *.pyc
global-exclude *.git*

prune errors/test
prune dio/tests
prune poe/tests

global-exclude test_*.cpp